.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/resolver-status.properties
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/maven-metadata-models.xml
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/index-0.0.0-20140605.014212-1.zip
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/_remote.repositories
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/write.lock
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_2
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.fdt
.recommenders/caches/manual-mappings.json
.recommenders/caches/identified-project-coordinates.json
.metadata/.plugins/org.eclipse.jdt.core/2738631464.index
.metadata/.plugins/org.eclipse.jdt.core/2715629415.index
.metadata/.plugins/org.eclipse.jdt.core/2574655887.index
.metadata/.plugins/org.eclipse.jdt.core/2162209334.index
.metadata/.plugins/org.eclipse.jdt.core/2083043589.index
.metadata/.plugins/org.eclipse.jdt.core/2054194808.index
.metadata/.plugins/org.eclipse.jdt.core/1937937636.index
.metadata/.plugins/org.eclipse.jdt.core/1724248983.index
.metadata/.plugins/org.eclipse.jdt.core/1311534519.index
.metadata/.plugins/org.eclipse.jdt.core/1245022933.index
.metadata/.plugins/org.eclipse.jdt.core/1175272167.index
.metadata/.plugins/org.eclipse.equinox.p2.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.resources/.history/c5/a08c58cd18c900171641dc09d72df690
.metadata/.plugins/org.eclipse.core.resources/.history/c4/00f418c318c900171641dc09d72df690
.metadata/.plugins/org.eclipse.core.resources/.history/c2/900ab59715c900171bb19153cf90c2c8
.metadata/.plugins/org.eclipse.core.resources/.history/ae/a08bbda815c900171bb19153cf90c2c8
.metadata/.plugins/org.eclipse.core.resources/.history/ac/a0e3df1515c900171bb19153cf90c2c8
.metadata/.plugins/org.eclipse.core.resources/.history/9a/0003d7d718c900171641dc09d72df690
.metadata/.plugins/org.eclipse.core.resources/.history/2e/f0e1b00a15c900171bb19153cf90c2c8
.metadata/.plugins/org.eclipse.core.resources/.history/21/50a7935814c900171bb19153cf90c2c8
.metadata/.plugins/org.eclipse.core.resources/.history/2/a0a807b718c900171641dc09d72df690
.metadata/.plugins/org.eclipse.core.resources/.history/16/90b9480f15c900171bb19153cf90c2c8
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/479335008.index
.metadata/.plugins/org.eclipse.jdt.core/3924940057.index
.metadata/.plugins/org.eclipse.jdt.core/3724312790.index
.metadata/.plugins/org.eclipse.jdt.core/3504996842.index
.metadata/.plugins/org.eclipse.jdt.core/3478434063.index
.metadata/.plugins/org.eclipse.jdt.core/3424761750.index
.metadata/.plugins/org.eclipse.jdt.core/3009130688.index
.metadata/.plugins/org.eclipse.jdt.core/279103350.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.history/90/f08e21f714c900171bb19153cf90c2c8
.metadata/.plugins/org.eclipse.core.resources/.history/79/b075fb8e15c900171bb19153cf90c2c8
.metadata/.plugins/org.eclipse.core.resources/.history/6a/70acf7af15c900171bb19153cf90c2c8
.metadata/.plugins/org.eclipse.core.resources/.history/69/e0a7091515c900171bb19153cf90c2c8
.metadata/.plugins/org.eclipse.core.resources/.history/53/4071248718c900171641dc09d72df690
.metadata/.plugins/org.eclipse.core.resources/.history/4a/705d4a9315c900171bb19153cf90c2c8
.metadata/.plugins/org.eclipse.core.resources/.history/35/e0ee001815c900171bb19153cf90c2c8
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.projects/test01/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/test01/.indexes/e4/81/fa/61/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/test01/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.history/fc/806245e418c900171641dc09d72df690
.metadata/.plugins/org.eclipse.core.resources/.history/f1/80ebf48818c900171641dc09d72df690
.metadata/.plugins/org.eclipse.core.resources/.history/ea/a007c1ab15c900171bb19153cf90c2c8
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.1.20150109-1820.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.lock
.metadata/version.ini
.metadata/.plugins/org.eclipse.core.resources/.history/12/5066edd618c900171641dc09d72df690
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/1.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/test01/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/test01/.markers.snap
